extends ../layout

block content
  h1= title
  if bookInstances.length
    ul
      each bookInstance in bookInstances
        li
          a(href=`/bookInstance/${bookInstance.id}`)= bookInstance.book.title
          | : #{bookInstance.imprint} - 
          if bookInstance.status === 'Available'
            span.text-success #{bookInstance.status} 
          else if bookInstance.status === 'Maintenance'
            span.text-danger #{bookInstance.status} 
          else
            span.text-warning #{bookInstance.status} 
          |(#{bookInstance.dueBack})
  else
    p #{t('home.noCopies')}
